<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">
            Copyright &copy; StockGym 2020
        </p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script type="module">
    import Swal from '/sweetalert2/src/sweetalert2.js'
   
  </script>


</body>

</html>