<%- include('./partials/header'); -%>

<div class="row landingForm">
    <div class="col-md-4 text-white text-center green_background">
        <div class="card-body login_desc">
            <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
            <h2 class="py-3">Registration</h2>
            <h4>Sign up today and start your first simulation trade.

            </h4>
        </div>

    </div>
    <div class="col-md-8 ">
        <div class="container">
            <div class="signup-form">
                <form action="/signup" method="post">
                    <h2>Create an Account</h2>
                    <p class="hint-text">Sign up with your social media account or email address</p>
                    <div class="social-btn text-center">
                        <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
                        <a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
                        <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
                    </div>
                    <div class="or-seperator"><b>or</b></div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="nickname" placeholder="Nickname">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" name="password" placeholder="Password">
                        <small id="emailHelp" class="form-text text-muted">Password must be at least 6 character long.
                            long.</small>
                    </div>
                    <!-- <div class="form-group">
                        <input type="password" class="form-control input-lg" name="confirm_password"
                            placeholder="Confirm Password" required="required">
                    </div> -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
                    </div>
                    <div class="form-group">
                        <% if(error&&error.length>0){ %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                        <% } %>
                    </div>
                </form>
                <div class="text-center">Already have an account? <a href="/login">Login here</a></div>
            </div>
        </div>

    </div>
</div>

<%- include('./partials/footer'); -%>